.joke {
    outline: 2px solid rgb(134, 134, 134);;
    box-shadow: 8px 8px #FFCC71;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    line-height: 16px;
    font-size: 16px;
    padding: 1em;
    margin: 1em;
    width: 100%;
    height: 30%;
}

@media only screen and (min-width: 768px) {
    .joke {
        box-shadow: 10px 10px #FFCC71;
        height: auto;
        line-height: 18px;
        font-size: 18px;
    }
}