.app {
    background-image: url('../public/background-image.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1em;
}


@media only screen and (min-width: 768px) {
    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}